.tooltip:hover {
    cursor: pointer;
}

.docs-tooltip {
    display: inline-grid;
    background-color: rgba(255, 255, 255, 0.92);
    color: #000;

    font-size: 18px;
    font-family: Roboto, sans-serif;

    padding: 8px;
    border-radius: 6px;

    position: absolute;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
    justify-items: stretch;
    align-items: center;
    justify-content: center;
}

.docs-tooltip-title {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Roboto Mono';
}


.docs-tooltip-stack-diagram {
    grid-column: 2;
    grid-row: 1;
    grid-area: "stackdiagram";
    font-size: 16px;
    font-family: 'Roboto Mono';
    font-weight: 600;
    text-align: center;
}

.docs-tooltip-explanation {
    border-top: 2px solid #000;
    padding: 8px;
    grid-column: span 2;
    grid-row: 2;
    grid-area: "explanation";
}


.hljs.gurklang,
.hljs.gurklang-repl {
	display: block;
    overflow-x: auto;
    padding: 0.7em;
    border-radius: 8px;
    margin-left: 16px;
    margin-right: 16px;
	background: rgb(51, 51, 51) !important;
	color: #ffffff !important;
    font-size: 16px !important;
    position: relative;
}

.hljs-comment {
    color: #afb6a9;
}

.hljs-string {
    color: #b2dd8c;
}

.hljs-number {
    color: #86e6d9;
}

.hljs-symbol {
    color: rgb(255, 113, 91);
}

.hljs-variable {
    color: #f3bb53;
}

.hljs-meta {
    color: #7299b9;
}

.hljs-deletion {
    color: #ff0800;
}

.hljs-punctuation {
    color: #fff;
}

.hljs-section-comment {
    display: block;
    padding: 0.25em;
    border-radius: 4px;
    color: #5a5a5a;
    border-width: 2px;
    border-color: rgb(255, 255, 255, 0.5);
    border-style: solid;
    background: rgb(0, 0, 0, 0.3);
    transition: 0.25s;
}
