.tooltip:hover {
    cursor: pointer;
}

.docs-tooltip {
    display: inline-grid;
    background-color: rgba(255, 255, 255, 0.92);
    color: #000;

    font-size: 18px;
    font-family: Roboto, sans-serif;

    padding: 8px;
    border-radius: 6px;

    position: absolute;

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2em auto;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.docs-tooltip-title {
    grid-column: 1;
    grid-row: 1;
    font-family: 'Roboto Mono';
}


.docs-tooltip-stack-diagram {
    grid-column: 2;
    grid-row: 1;
    grid-area: "stackdiagram";
    font-size: 16px;
    font-family: 'Roboto Mono';
    font-weight: 600;
    text-align: center;
}

.docs-tooltip-explanation {
    border-top: 2px solid #ccc;
    padding: 8px;
    grid-column: span 2;
    grid-row: 2;
    grid-area: "explanation";
}


.hljs.gurklang,
.hljs.gurklang-repl {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: rgb(244, 244, 246) !important;
    color: #000 !important;
    font-size: 16px !important;
    position: relative;
}

.hljs-comment {
    font-style: italic;
    color: #92958f;
}

.hljs-string {
    font-weight: 600;
    color: hsl(119, 34%, 50%);
}

.hljs-number {
    color: hsl(198, 99%, 37%);
}

.hljs-symbol {
    color: rgb(142, 30, 207);
}

.hljs-variable {
    color: hsl(7, 100%, 58%);;
}

.hljs-meta {
    color: #4554e2;
}

.hljs-deletion {
    color: #ff0800;
}

.hljs-punctuation {
    color: #000;
}

.hljs-section-comment {
    display: block;
    margin: 0.25em;
    padding: 0.25em;
    color: #d3d3d3;
    outline-offset: 2px;
    outline-width: 2px;
    outline-color: rgba(134, 134, 134, 0.5);
    outline-style: solid;
    background: rgba(255, 255, 255, 0.3);
    transition: 0.25s;
}
